@font-face { font-family: 'icon'; src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg")
  /* iOS 4.1- */ }
.iconfont { font-family: "icon" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.icon-mingpian:before { content: "\e62a"; }

.icon-qunzu:before { content: "\e606"; }

.icon-shijian:before { content: "\e60f"; }

.icon-eye:before { content: "\e60f"; }

.icon-wancheng:before { content: "\e61d"; }

.page-container { background: #f3f3f3; position: relative; }

.box { background: #fefefe; border-bottom: 1px solid #ddd; }

.section-title { height: 32px; line-height: 32px; position: relative; padding-left: 18px; }
.section-title:after { content: ""; height: 20px; width: 5px; position: absolute; top: 6px; left: 10px; background: #ffaa00; }
.section-title h3 { font-size: 16px; }

.section-list-warrp { position: relative; transition: all .5s ease-in; -moz-transition: all .5s ease-in; /* Firefox 4 */ -webkit-transition: all .5s ease-in; /* Safari  Chrome */ -o-transition: all .5s ease-in /*past class*/ /*foot-bar*/ }
.section-list-warrp #btn-to-left { position: absolute; right: 0px; top: 20px; width: 40px; height: 60px; z-index: 1001; background: url("../images/arrow_right.png") no-repeat center center; }
.section-list-warrp .section-list { position: absolute; left: 10px; top: 0; right: 10px; height: 100px; overflow: hidden; transition: all .5s ease-in; -moz-transition: all .5s ease-in; /* Firefox 4 */ -webkit-transition: all .5s ease-in; /* Safari  Chrome */ -o-transition: all .5s ease-in; }
.section-list-warrp .section-list li { float: left; text-align: center; width: 70px; margin: 13px 1% 13px 1%; overflow: hidden; }
.section-list-warrp .section-list li .teacher-name { color: #999; }
.section-list-warrp .section-list li img { width: 100%; height: 100%; max-height: 70px; max-width: 70px; }
.section-list-warrp .auditorium-section-list { width: 100%; margin: 0 auto; }
.section-list-warrp .auditorium-section-list li { width: 44%; overflow: hidden; float: left; padding: 8px; }
.section-list-warrp .auditorium-section-list li:nth-of-type(2n) { border-left: 1px solid #ccc; }
.section-list-warrp .auditorium-section-list li:nth-of-type(1) { border-bottom: 1px solid #ccc; }
.section-list-warrp .auditorium-section-list li:nth-of-type(2) { border-bottom: 1px solid #ccc; }
.section-list-warrp .auditorium-section-list li a { width: 100%; overflow: hidden; position: relative; }
.section-list-warrp .auditorium-section-list li a img { width: 100%; }
.section-list-warrp .auditorium-section-list li a .list-title { height: 28px; line-height: 28px; position: absolute; bottom: 2px; left: 0; width: 100%; text-align: center; color: #fff; background: rgba(0, 0, 0, 0.4); }
.section-list-warrp .auditorium-section-list li .teacher-name { padding: 8px; height: 28px; line-height: 28px; text-align: center; }
.section-list-warrp .class-list .class-item { height: 78px; padding-top: 8px; overflow: hidden; position: relative; border-bottom: 1px solid #ccc; }
.section-list-warrp .class-list .class-item .class-img { width: 80px; height: 60px; overflow: hidden; }
.section-list-warrp .class-list .class-item .class-img img { width: 100%; height: 100%; }
.section-list-warrp .class-list .class-item .class-info { position: absolute; top: 5px; left: 86px; }
.section-list-warrp .class-list .class-item .class-info .class-info-title { height: 30px; line-height: 30px; font-size: 16px; font-weight: 500; word-break: keep-all; white-space: nowrap; overflow: hidden; }
.section-list-warrp .class-list .class-item .class-info .class-info-cont { color: #999; font-size: 12px; height: 24px; line-height: 24px; word-break: keep-all; white-space: nowrap; overflow: hidden; }
.section-list-warrp .class-list .class-item .class-info .class-info-cont .list-teacher { position: absolute; bottom: -24px; left: 40px; font-size: 16px; color: #ffaa00; }
.section-list-warrp .foot-bar-list { height: 54px; overflow: hidden; }
.section-list-warrp .foot-bar-list .foot-bar-item { float: left; width: 20%; text-align: center; position: relative; }
.section-list-warrp .foot-bar-list .foot-bar-item i { display: block; width: 42px; height: 36px; position: absolute; left: 50%; margin-left: -18px; font-size: 24px; }
.section-list-warrp .foot-bar-list .foot-bar-item .card { background: url("../images/card.png") no-repeat; }
.section-list-warrp .foot-bar-list .foot-bar-item .room { background: url("../images/room.png") no-repeat; }
.section-list-warrp .foot-bar-list .foot-bar-item .teacher { background: url("../images/teacher.png") no-repeat; }
.section-list-warrp .foot-bar-list .foot-bar-item .wangqi { background: url("../images/wangqi.png") no-repeat; }
.section-list-warrp .foot-bar-list .foot-bar-item .zhibo { background: url("../images/zhibo.png") no-repeat; }
.section-list-warrp .foot-bar-list .foot-bar-item .foot-txt { display: block; width: 100%; height: 28px; text-align: center; padding-top: 32px; color: #999; }
.section-list-warrp .foot-bar-list .active a { color: #ffaa00; }
.section-list-warrp .foot-bar-list .active a span.foot-txt { color: #ffaa00; }

.apply-container { margin-top: 27px; }
.apply-container .checkbox-warrp { height: 48px; line-height: 33px; overflow: hidden; text-align: center; width: 80%; margin: 0 auto; }
.apply-container .checkbox-warrp .checkbox-item { float: left; width: 33%; position: relative; height: 100%; }
.apply-container .checkbox-warrp .checkbox-item input { display: none; }
.apply-container .checkbox-warrp .checkbox-item i { display: inline-block; width: 31px; height: 31px; background: url("../images/checkbox_empty.png") no-repeat; background-size: 20px 20px; position: absolute; top: 10px; left: 0; }
.apply-container .checkbox-warrp .checkbox-item span { position: absolute; left: 24px; top: 3px; }
.apply-container .apply-form { padding: 10px; }
.apply-container .apply-form .from-group { height: 38px; line-height: 38px; overflow: hidden; margin-top: 15px; }
.apply-container .apply-form .from-group label { display: inline-block; width: 80px; }
.apply-container .apply-form .from-group .from-inpt-txt { width: 67%; min-width: 190px; max-width: 540px; height: 32px; line-height: 32px; border: 1px solid #ddd; border-radius: 5px; padding: 2px 2px 2px 12px; outline: none; }
.apply-container .apply-btn-warrp { height: 110px; text-align: center; }
.apply-container .apply-btn-warrp .apply-btn { height: 45px; line-height: 45px; background: #ffaa00; border: 1px solid #ddd; width: 240px; border-radius: 8px; margin-top: 30px; color: #fff; outline: none; }
.apply-container .apply-btn-warrp .apply-btn:active { background-color: #FFAA61; outline: none; }

.teacher-info .teacher-name { position: relative; }
.teacher-info .teacher-name h3 { height: 65px; line-height: 84px; background: #ffe1a5; font-size: 18px; color: #fefefe; text-shadow: 0 0 5px #999; padding-left: 114px; }
.teacher-info .teacher-name img { width: 76px; height: 76px; border: 1px solid #ddd; border-radius: 50%; position: absolute; left: 25px; top: 20px; }
.teacher-info .teacher-info-cont { background: #fff; padding: 45px 10px 10px 10px; line-height: 24px; color: #575757; }

.apply-tips { height: 24px; line-height: 24px; padding: 12px; }
.apply-tips h3 { color: #ffaa00; }

.famous-teacher, .auditorium, .past-class, .foot-bar { clear: both; padding: 10px; }
.famous-teacher:before, .famous-teacher:after, .auditorium:before, .auditorium:after, .past-class:before, .past-class:after, .foot-bar:before, .foot-bar:after { content: ""; display: block; clear: both; }
.famous-teacher:after, .auditorium:after, .past-class:after, .foot-bar:after { clear: both; }

.class-add-more { height: 75px; line-height: 75px; text-align: center; color: #999; }

.foot-bar { position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 0 0 0; border-top: 1px solid #ccc; box-shadow: 1px 1px 3px 2px #ccc; -ms-box-shadow: 1px 1px 3px 2px #ccc; -moz-box-shadow: 1px 1px 3px 2px #ccc; -webkit-box-shadow: 1px 1px 3px 2px #ccc; }

.dropload-up, .dropload-down { position: relative; height: 0; overflow: hidden; font-size: 12px; -webkit-transform: translateZ(0); transform: translateZ(0); }

.dropload-down { height: 50px; }

.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData { margin-top: 30px; height: 80px; line-height: 80px; text-align: center; background: #f3f3f3; }

.dropload-load .loading { display: inline-block; height: 15px; width: 15px; border-radius: 100%; margin: 6px; border: 2px solid #666; border-bottom-color: transparent; vertical-align: middle; -webkit-animation: rotate 0.75s linear infinite; animation: rotate 0.75s linear infinite; }

@-webkit-keyframes rotate { 0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

/*# sourceMappingURL=content.css.map */